@use '../abstract/index' as *;

.owl {

    &-dots {
        display: none;
    }

    &-item {
        height: auto !important;
        display: flex;
    }


}

.item {
    width: 100%;
}

// Testiomonial Carousel 
.testimonials {

    &__carousel {
        padding-block-end: $space-x16;
        position: static;


        .owl-nav {
            bottom: 5.2rem;
            left: 0;
            position: absolute;
            right: 0;
            z-index: 1;

            @include breakpoint(tablet-portrait) {
                bottom: 4.5rem;
            }

            @include breakpoint(desktop) {
                bottom: 5.8rem;
            }

            button.owl-prev,
            button.owl-next {
                color: $color-text-light;
                font-size: 2rem;

                @include breakpoint(tablet-portrait) {
                    font-size: 2.8rem;
                }

                &:hover {
                    background-color: transparent;
                }
            }

            button.owl-next {
                transform: translateX(11rem);

                @include breakpoint(tablet-portrait) {
                    transform: translateX(20rem);
                }
            }

            button.owl-prev {
                transform: translateX(-11rem);

                @include breakpoint(tablet-portrait) {
                    transform: translateX(-20rem);
                }
            }
        }

    }

    .owl-dot.active {
        path {
            fill: $color-bg-secondary;
        }
    }

}