@use '../abstract/index' as *;

.card {
    border: $border-standard;
    @include prefix(border-radius, $radius-lg, webkit moz);
    box-shadow: $shadow-standard;

    &--primary {
        background-color: $color-bg-primary;
    }

    &--secondary {
        background-color: $color-bg-secondary;
    }

    &--light {
        background-color: $color-bg-grey;
    }
}