@use "../abstract/index" as *;

.u-heading-lg {
  font-size: var(--fs-h1);
  line-height: 1.28;
}

.u-heading-md {
  background-color: $color-bg-secondary;
  @include prefix(border-radius, $radius-sm, webkit moz);
  font-size: var(--fs-h2);
  margin-inline: auto;
  width: max-content;
}

.u-heading-sm {
  font-size: var(--fs-h4);
}

.u-title {
  border-radius: $radius-sm;
  font-size: var(--fs-h3);
  width: max-content;
}


.u-text-primary {
  background-color: $color-bg-secondary;
}

.u-text-secondary {
  background-color: $color-bg-light;
}


.u-section-header {
  align-items: center;
  display: grid;
  gap: $space-x8;
  margin-block-end: $space-x16;
  text-align: center;
  max-width: 50rem;
  margin-inline: auto;

  @include breakpoint(tablet-landscape) {
    grid-template-columns: auto 1fr;
    text-align: left;
    max-width: 100%;
    margin-inline: 0;

    &>p {
      max-width: 58rem;
    }
  }
}

.u-seperator {
  border: $border-standard;
  width: 100%;
}