@use "../abstract/index" as *;

.l-container {
  padding-block: $space-x8;
  padding-inline: $space-x5;

  &-case {
    padding-block: $space-x8;

  }

  @include breakpoint(mobile) {

    &,
    &-header,
    &-nav {
      max-width: 54rem;
      margin-inline: auto;
    }
  }

  @include breakpoint(tablet-portrait) {

    &,
    &-header,
    &-nav {
      max-width: 70rem;
      padding-inline: 0;
    }
  }

  @include breakpoint(tablet-landscape) {
    padding-block: $space-x20;

    &,
    &-header,
    &-companies,
    &-case {
      max-width: 94rem;
    }

    &-nav {
      all: unset;
    }
  }

  @include breakpoint(desktop) {

    &,
    &-header,
    &-companies,
    &-case {
      max-width: 114rem;
    }
  }

  @include breakpoint(large) {

    &,
    &-header,
    &-companies,
    &-case {
      max-width: 134rem;
    }
  }
}