@use '../abstract/mixin' as *;

.l-flex {
    display: flex;
}


.l-flex-center {
    @extend .l-flex;
    align-items: center;
    justify-content: center;
}

.l-flex-col {
    @extend .l-flex;
    flex-direction: column;
}

.l-flex-col-center {
    align-items: center;
    @extend .l-flex;
    flex-direction: column;
    justify-content: center;
}

.l-flex-ac {
    align-items: center;
    @extend .l-flex;
}

.l-flex-jb {
    align-items: center;
    @extend .l-flex;
    justify-content: space-between;
}

.l-flex-jb-center {
    align-items: center;
    @extend .l-flex;
    justify-content: space-between;
}


@include breakpoint(tablet-landscape) {
    .l-flex-md-row {
        flex-direction: row;
    }
}