@use '../abstract/index' as *;

.footer {
    color: $color-text-light;

    &__container {
        padding-inline: 0;
        padding-block-end: 0;
    }

    &__logo {
        margin-inline: auto;

        @include breakpoint(tablet-landscape) {
            margin-inline: 0;
        }
    }

    &__wrapper {
        background-color: $color-bg-primary;
        gap: $space-x9;
        text-align: center;
        padding: $space-x12 $space-x5 $space-x8;

        @include breakpoint(mobile) {
            @include prefix(border-radius, $radius-lg, moz webkit);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        @include breakpoint(tablet-portrait) {
            padding-inline: $space-x15;
        }

        @include breakpoint(tablet-landscape) {
            gap: $space-x16 0;
            grid-template-columns: 0.75fr 1fr 0.5fr;
        }

        @include breakpoint(desktop) {
            padding-block: $space-x13;
        }


    }

    &__list {
        gap: $space-x4;
        font-size: var(--fs-body-sm);

        @include breakpoint(tablet-landscape) {
            flex-direction: row;
        }

        @include breakpoint(desktop) {
            gap: $space-x10;
        }
    }

    &__link {
        opacity: 1;
        @include prefix(transition, color $transition-ease-2, moz webkit);

        &:is(:hover, :active) {
            color: $color-text-secondary;
        }

        @include breakpoint(tablet-landscape) {
            text-decoration: underline;
        }

        @include breakpoint(desktop) {
            font-size: 1.8rem;
            text-decoration: underline;
        }
    }

    &__nav-social {
        grid-row: 5/5;

        @include breakpoint(tablet-landscape) {
            grid-row: auto;
            justify-self: self-end;
        }
    }

    &__brand {
        background-color: $color-bg-light;
        color: $color-text-primary;
        height: 3rem;
        width: 3rem;
        @include prefix(transition, all $transition-ease-1, moz webkit);

        &:not(:last-child) {
            margin-inline-end: $space-x5;
        }

        &:hover {
            background-color: $color-bg-secondary;
            color: $color-text-primary;
        }
    }

    &__info {
        font-size: var(--fs-body-sm);

        @include breakpoint(tablet-landscape) {
            text-align: left;
        }

        @include breakpoint(desktop) {
            font-size: 1.8rem;
        }
    }

    &__contact {
        margin-block: $space-x4;
    }

    &__tag {
        align-self: center;
        background-color: $color-bg-secondary;
        @include prefix(border-radius, $radius-sm, moz webkit);
        color: $color-text-primary;
        font-weight: 500;
        line-height: normal;
        margin-block-end: $space-x8;
        padding: $space-x2;
        width: max-content;

        @include breakpoint(tablet-landscape) {
            align-self: flex-start;
        }
    }

    &__form {
        background-color: #292A32;
        @include prefix(border-radius, $radius-md, moz webkit);
        padding: $space-x8;
        min-width: 20rem;

        @include breakpoint(tablet-landscape) {
            padding: $space-x16 $space-x10;
            grid-column: 2 / span 2;
            height: max-content;
            max-width: 45rem;
            margin-inline-start: auto;
            width: 100%;
        }

        @include breakpoint(desktop) {
            max-width: 55rem;
        }

        @include breakpoint(large) {
            max-width: 65rem;
        }
    }

    &__group {
        gap: $space-x3;

        @include breakpoint(tablet-landscape) {
            flex-direction: row;
        }
    }

    &__control {
        border-color: #fff;
        color: $color-text-light;

        &::placeholder {
            color: $color-text-light;
        }
    }

    &__btn {
        border-color: $color-border-secondary;
        width: 100%;

        .btn__slide {
            background-color: $color-bg-light;
        }

        &:hover {

            .btn__text {
                color: $color-text-primary;
            }
        }
    }

    &__tc {
        font-size: var(--fs-body-sm);
        gap: $space-x4;

        @include breakpoint(tablet-landscape) {
            align-items: flex-start;
            gap: 0;
            grid-column: 1 / span 3;
        }

        @include breakpoint(desktop) {
            font-size: 1.8rem;
        }
    }

    &__seperator {
        border-color: #fff;

        @include breakpoint(tablet-landscape) {
            margin-block-end: $space-x12;
        }
    }

    &__copy {
        gap: $space-x3;

        @include breakpoint(tablet-landscape) {
            flex-direction: row;
            gap: $space-x10;
        }
    }


}