@use "../abstract/index" as *;

// Hero Secion
.hero {
    margin-block-start: $space-x22;

    &__container {
        gap: $space-x5;

        @include breakpoint(tablet-portrait) {
            font-size: 2rem;
        }

        @include breakpoint(tablet-landscape) {
            align-items: center;
            gap: 0 $space-x15;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "heading banner"
                "block banner"
            ;
            padding-block: $space-x18;
        }

        @include breakpoint(desktop) {
            column-gap: $space-x32;
        }
    }

    &__heading {
        @include breakpoint(tablet-landscape) {
            grid-area: heading;
            margin-block-end: $space-x9;
        }
    }

    &__btn {
        margin-block-start: $space-x10;
        width: 100%;

        @include breakpoint(tablet-landscape) {
            width: auto;
        }
    }

    &__banner {
        max-width: 70rem;
        width: 100%;

        @include breakpoint(tablet-landscape) {
            grid-area: banner;
            max-width: 100%;
        }
    }

    &__text-block {
        height: 100%;

        @include breakpoint(tablet-landscape) {
            grid-area: block;
        }
    }

}

// Companies Section
.companies {
    overflow: hidden;
    padding-block: $space-x8;
    width: 100%;


    &__container {
        @include breakpoint(tablet-landscape) {
            margin-inline: auto;
        }
    }


    &__list {
        gap: $space-x5;

        @include breakpoint(tablet-landscape) {
            align-items: center;
        }
    }

    &__item {
        gap: $space-x10;
        width: max-content;

        @include breakpoint(tablet-landscape) {
            width: 100%;

            &--2 {
                display: none;
            }
        }
    }

    &__marquee {
        gap: $space-x10;

        @include breakpoint(tablet-landscape) {
            justify-content: space-between;

            &--hidden {
                display: none;
            }
        }

        &--1 {
            animation: move 25s linear infinite;

            @include breakpoint(tablet-landscape) {
                animation: unset;
                justify-content: space-between;
                transform: translateX(0);
                width: 100%;
            }
        }

        &--2 {
            animation: move 25s linear infinite reverse;

            @include breakpoint(tablet-landscape) {
                animation: unset;
            }
        }
    }

    &__img {
        filter: grayscale(1);
        height: 100%;
        @include prefix(transition, filter $transition-ease-2, moz webkit);
        width: 11rem;

        &:hover {
            filter: grayscale(0);
        }

        @include breakpoint(desktop) {
            width: 13rem;
        }

    }
}

@keyframes move {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(calc(-100% - $space-x10));
    }
}

// Services Section
.services {
    &__list {
        gap: $space-x8;
    }

    &__item {
        min-height: 30.2rem;
        padding: $space-x12;
        @include prefix(transition, all $transition-easeout, webkit moz);

        &:hover {
            box-shadow: 0rem 1.5rem 0rem $color-border-grey-900;
            transform: translateY(-1rem);
        }

    }

    &__content,
    &__cover {
        position: relative;
        width: 50%;
    }

    &__content {
        align-items: flex-start;
    }

    &__btn {
        margin-block-start: auto;
    }

    &__btn-text {
        display: none;

        @include breakpoint(tablet-landscape) {
            display: block;

            &--light {
                color: $color-text-light;
            }
        }
    }

    &__img {
        bottom: 0;
        max-width: 20rem;
        position: absolute;
        right: 0;
        transform: scale(1.1);
        width: 100%;
    }
}

// Proposal Section
.proposal {

    &__container {
        @include breakpoint(tablet-landscape) {
            align-items: center;
            column-gap: $space-x30;
            justify-content: space-between;
        }
    }

    &__content {
        padding: $space-x12;

        @include breakpoint(tablet-landscape) {
            padding-inline: 0;
            width: 50%;
        }
    }

    &__heading {
        font-size: 3rem;
        max-width: 100%;
    }

    &__description {
        padding-block: $space-x5;
    }

    &__btn {
        width: 100%;

        @include breakpoint(tablet-landscape) {
            width: auto;
        }
    }

    &__cover {
        @include breakpoint(tablet-landscape) {
            width: 50%;
        }
    }

    &__img {
        display: none;

        @include breakpoint(tablet-landscape) {
            display: block;
            width: calc(100% - 13.5rem);
        }
    }
}

// Case studies
.case {
    &__container {
        margin-inline: auto;
        padding-inline: 0;
    }

    &__header {
        padding-inline: $space-x5;
    }

    &__wrapper {
        @include breakpoint(tablet-landscape) {
            background-color: $color-bg-primary;
            @include prefix(border-radius, $radius-lg, webkit moz);
            padding: $space-x12 0;
        }

        @include breakpoint(tablet-landscape) {
            padding: $space-x17 $space-x5;
        }
    }



    &__carousel {
        @include breakpoint(tablet-landscape) {
            display: flex;
        }
    }

    &__item {
        background-color: $color-bg-primary;
        @include prefix(border-radius, $radius-lg, webkit moz);
        color: $color-text-light;
        margin-inline: $space-x5;
        padding: $space-x10 $space-x12;

        @include breakpoint(tablet-landscape) {
            border-radius: 0;
            margin-inline: 0;
            padding: 0 $space-x10;

            &:not(:last-child) {
                border-right: 1px solid #afafaf;
            }
        }


        @include breakpoint(desktop) {
            padding-inline: $space-x12;
        }

        @include breakpoint(large) {
            padding-inline: $space-x16;
        }
    }

    &__link {
        color: $color-text-secondary;
        margin-block-start: $space-x8;
    }
}

// Process section
.process {
    &__header {

        @include breakpoint(tablet-landscape) {
            max-width: 80rem;
        }

    }

    &__headline {
        @include breakpoint(tablet-landscape) {
            background-color: $color-bg-secondary;
            @include prefix(border-radius, $radius-sm, webkit moz);
            display: flex;
            gap: $space-x3;
        }
    }

    &__list {
        gap: $space-x5;

        @include breakpoint(desktop) {
            gap: $space-x8;
        }
    }

    &__item {
        padding: $space-x8;
        @include prefix(transition, background $transition-ease-2, webkit moz);

        &--open {
            background-color: $color-bg-secondary;

            .process__content {
                height: auto;
                gap: $space-x6;
                opacity: 1;
                padding-block: $space-x6;
            }

            .process__bar::before {
                transform: rotate(180deg);
            }
        }

        @include breakpoint(tablet-landscape) {
            padding: $space-x10 $space-x15;
        }
    }

    &__panel {
        gap: $space-x6;

    }

    &__title-block {
        gap: $space-x6;
        width: 80%;
    }

    &__content {
        height: 0rem;
        gap: 0;
        opacity: 0;
        overflow: hidden;
        padding-block: 0;
        @include prefix(transition, all $transition-ease-2, webkit moz);
    }

    &__number {
        font-size: 3rem;

        @include breakpoint(tablet-portrait) {
            font-size: 3.6rem;
        }

        @include breakpoint(desktop) {
            font-size: 6rem;
        }
    }

    &__title {
        @include breakpoint(tablet-portrait) {
            font-size: 2.2rem;
        }

        @include breakpoint(desktop) {
            font-size: 3rem;
        }
    }

    &__btn {
        height: 3rem;
        margin-inline-start: auto;
        width: 3rem;

        &:hover {
            background-color: $color-text-light;
        }

        @include breakpoint(tablet-landscape) {
            height: 5.8rem;
            width: 5.8rem;
        }

    }

    &__bar {
        background-color: $color-bg-primary;
        height: 0.3rem;
        position: relative;
        width: 1.5rem;

        &::before {
            background-color: $color-bg-primary;
            bottom: 0;
            content: "";
            height: inherit;
            left: 0;
            position: absolute;
            right: 0;
            transform: rotate(270deg);
            transform-origin: center center;
            @include prefix(transition, transform $transition-ease-2, webkit moz);
            top: 0;
            width: inherit;
        }

        @include breakpoint(tablet-landscape) {
            height: 0.4rem;
            width: 2rem;
        }
    }
}

// Team Section
.team {
    &__list {
        gap: $space-x8;

        @include breakpoint(tablet-portrait) {
            gap: $space-x6;
        }

        @include breakpoint(tablet-landscape) {
            gap: $space-x10;
        }
    }

    &__item {
        cursor: auto;
        gap: $space-x5;
        padding: $space-x10 $space-x9;
        @include prefix(transition, all $transition-easeout, moz webkit);

        &:hover {
            background-color: $color-bg-secondary;
            box-shadow: 0rem 1.5rem 0rem $color-border-grey-900;
            transform: translateY(-1rem);
        }

        @include breakpoint(tablet-portrait) {
            padding: $space-x10 $space-x6;
        }


    }

    &__about {
        position: relative;
    }

    &__info {
        align-self: flex-end;
        font-size: var(--fs-body-sm);
        margin-inline-start: $space-x5;
    }

    &__link {
        background-color: $color-bg-primary;
        color: $color-text-secondary;
        height: 3.4rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 3.4rem;
    }

    &__btn {
        margin-block-start: $space-x10;
        width: 100%;

        @include breakpoint(tablet-portrait) {
            align-self: flex-end;
            max-width: 25rem;
        }
    }
}

// Testimonials Section
.testimonials {
    &__wrapper {
        background-color: $color-bg-primary;
        @include prefix(border-radius, $radius-lg, webkit moz);
        padding-block: $space-x10 $space-x15;
        position: relative;

        @include breakpoint(desktop) {
            padding-block: $space-x18;
        }
    }

    &__item {
        max-width: 30rem;
        margin-inline: auto;

        @media only screen and (min-width: 25em) {
            max-width: 35rem;
        }

        @include breakpoint(mobile) {
            max-width: 45rem;
        }

        @include breakpoint(tablet-portrait) {
            max-width: 60rem;
        }

        @include breakpoint(tablet-landscape) {
            max-width: 68rem;
        }


    }

    &__content {
        border: 0.1rem solid $color-bg-secondary;
        @include prefix(border-radius, $radius-lg, webkit moz);
        color: $color-text-light;
        font-size: var(--fs-body-sm);
        padding: $space-x8;
        position: relative;

        @include breakpoint(desktop) {
            font-size: 1.8rem;
        }

        &::after {
            background-color: #191A23;
            bottom: -0.8rem;
            border: 0.1rem solid #B9FF66;
            clip-path: polygon(100% -35%, 21% 18%, 100% 100%);
            content: "";
            height: 3.8rem;
            left: 3.8rem;
            position: absolute;
            transform: rotate(134deg);
            width: 6.4rem;
        }
    }

    &__info {
        color: $color-text-light;
        margin-block-start: $space-x12;
        margin-inline-start: $space-x15;
    }

    &__name {
        color: $color-text-secondary;
    }

    &__btn-group {
        gap: $space-x5;
        margin-block-start: $space-x8;
        margin-inline: auto;
        max-width: 15rem;
        position: relative;
        z-index: 2;
    }

}

// Contact Section
.contact {

    &__header {

        @include breakpoint(tablet-landscape) {
            max-width: 60rem;
        }
    }

    &__content {
        margin-inline: auto;
        max-width: 55rem;

        @include breakpoint(tablet-landscape) {
            justify-content: space-between;
            gap: $space-x35;
            max-width: 100%;
            padding-inline-start: $space-x25;
            padding-block: $space-x16 $space-x10;
        }

    }

    &__form {
        @include breakpoint(tablet-landscape) {
            width: 50%;
        }

        &-wrapper {

            @include breakpoint(mobile) {
                padding: $space-x10;
            }

            @include breakpoint(tablet-landscape) {
                padding-inline: 0;
                padding-block-start: 0;
            }
        }
    }

    &__form-action {
        gap: $space-x10;
        margin-block-end: $space-x9;
    }

    &__btn {
        margin-block-start: $space-x6;
        width: 100%;

        @include breakpoint(tablet-landscape) {
            margin-block-start: 0;
        }
    }

    &__cover {
        @include breakpoint(tablet-landscape) {
            width: 50%;
        }
    }

    &__img {
        display: none;
        width: 100%;

        @include breakpoint(tablet-landscape) {
            display: block;
            height: 58rem;
            margin-inline-start: auto;
            max-width: 35rem;
            object-fit: cover;
        }
    }
}